@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.interaction {
  &__inner {
    margin: 0px 200px;
  }

  &__info {
    padding: 100px 0;
    border-bottom: 1px solid #e0dcdc;

    > h4 {
      font-family: Pretendard;
      color: #2f2f2f;
      font-weight: 600;
      font-size: 22px;
      padding-bottom: 30px;
      letter-spacing: -0.3px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    padding-bottom: 40px;

    &:not(:nth-child(3n)) {
      padding-right: 20px;
    }

    .interaction-card {
      &__title {
        color: #2f2f2f;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.3px;
        font-family: Pretendard;
      }

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: white;
        width: 400px;
        height: 300px;
        padding: 10px;
        margin-bottom: 10px;
        //box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
        box-shadow: 0 1rem 2rem -2rem hsl(200 50% 20% / 40%);
        transition: all .2s ease-in;

        &:hover {
          transform: translateY(-10px);
          transition: all .2s ease-out;
        }

        .loading {
          position: relative;
          height: 40px;

          .bar {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 15px;
            height: 40px;
            border-radius: 3px;
            animation: bar 1s infinite linear;

            &:nth-child(1) {
              left: -25px;
              background-color: #7a72dd;
              animation-delay: -0.15s;
            }

            &:nth-child(2) {
              left: 0px;
              background-color: #938bf8;
              animation-delay: 0s;
            }

            &:nth-child(3) {
              left: 25px;
              animation-delay: 0.15s;
              background-color: #a69fff;
            }

            @keyframes bar {
              0%, 50% {
                transform: scaleY(1);
                transition: all .2s;
              }

              25% {
                transform: scaleY(1.5);
              }
            }
          }
        }
      }
    }
  }
}
