button, .home-btn {
  cursor: pointer;
}

#common-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100px;

  .home-btn {
    text-align: center;
    padding: 0 20px;

    p {
      display: flex;
      font-size: 18px;
      color: #333333;
      font-weight: bold;
      align-items: center;

      span {
        font-size: 30px;
        margin-right: 12px;
      }
    }
  }
}