@charset "utf-8";

// 테마 컬러
$navy-light: #8E9AAF;
$purple-light: #CBC0D3;
$purple-light2: #DDD7f5;
$pink-light: #EFD3D7;
$lightsky-light: #DEE2FF;

$gray: #9a9a9a;
$gray-light1: #f9f9fa;
$gray-light2: #f3f3f3;
$gray-light3: #ebebeb;
$gray-light4: #e3e3e3;

$white: #fff;

$row-price: #FF447F;


$purple-text: #594b83;